/* .newSegmentWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 12%;
}

.newSegmentContainer {
    display: block;
    width: 100%;
} */

#box {
    margin: 0 auto;
    overflow: auto;
    padding: 2px;
    text-align: justify;
    background: #fff;
    border-radius: 3px;
}

.noresize {
    resize: none;
    border: none;
}

#links a{
    color: #838488;
}

#prevNextHolder {
    margin-right: 110px;
}